<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="pricing" translate="label" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Pricing</label>
			<tab>ecinternet</tab>
			<resource>ECInternet_Pricing::settings</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
				<label>General Configuration</label>
				<field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Enable Module</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="debug_logging" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Enable Debug Logging</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
			<group id="system_maintenance" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
				<label>Pricing System Maintenance</label>
				<field id="pricing_system" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Pricing System</label>
					<source_model>ECInternet\Pricing\Model\Config\Source\PricingSystem</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
